@import './scrollbar.scss';
@import './theme.scss';

* {
  @include scrollbar();
}

// login
.theme-option {
  @include useTheme() {
    background: getVar('loginBg');
    transition: all 0.5s;
  }
}

$color: getVar('bdColor');

// box
.theme-box {
  @include useTheme() {
    background: getVar('boxBg');
    @if $curTheme == 'dark' {
      box-shadow: 0 0 10px rgba($color, 0.5);
    }
    transition: all 0.3s;
  }
}

// page
.theme-page {
  @include useTheme() {
    background: getVar('boxBg');
    transition: all 0.3s;
  }
}

/* styles.css */
#global-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
