@import './scrollbar.scss';
@import './theme.scss';

.theme-option {
  @include useTheme() {
    background: getVar('bgColor');
    transition: all 0.5s;
  }
}

.follow-theme {
  @media (prefers-color-scheme: dark) {
    background: getVar1('bgColor', 'dark');
  }
  @media (prefers-color-scheme: light) {
    background: getVar1('bgColor', 'light');
  }
}
