@mixin scrollbar($size: 7px, $color: rgba(0, 0, 0, 0.5)) {
  // Firefox
  scrollbar-width: thin;
  scrollbar-color: $color transparent;

  // Webkit browsers (Chrome, Safari)
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 10px; // Ensure the border-radius is visible
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: darken($color, 10%);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
