$themes: (
  default: (
    // 登录背景
    loginBg: #f0f5ff,
    // 盒子背景
    boxBg: #fff,
    // 字体颜色
    textColor: #333,
    // header 背景
    hdBoxBg: #fff
  ),
  light: (
    loginBg: #f0f5ff,
    boxBg: #fff,
    textColor: #333,
    hdBoxBg: #fff
  ),
  dark: (
    loginBg: #282a36,
    boxBg: #282a36,
    bdColor: #f0f5ff,
    textColor: #fff,
    hdBoxBg: #ececed
  )
);

// 定义全局变量每次改变主意重新赋值
$curTheme: light;

@mixin useTheme() {
  @each $key, $value in $themes {
    $curTheme: $key !global; // 告诉他是一个全局变量
    html[data-theme='#{$key}'] & {
      @content;
      @if $key == 'default' {
        @media (prefers-color-scheme: dark) {
          background: getVar('boxBg', 'dark');
        }
        @media (prefers-color-scheme: light) {
          background: getVar('boxBg', 'light');
        }
      }
    }
  }
}

// 获取对应主题的属性
@function getVar($key, $curTheme: $curTheme) {
  @return map-get(map-get($themes, $curTheme), $key);
}
